.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.sidebar h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 8px;
}

.sidebar ul {
  padding: 0 10px;
}

.sidebar ul li {
  list-style-type: none;
  padding: 10px 10px;
  background-color: white;
  margin: 10px 20px;
  border-radius: 5px;
  box-shadow: 8px 10px 18px -20px rgba(0, 0, 0, 1);
}
