.write-box {
  text-align: center;
}

.write-box textarea {
  background: white;
  font-size: 12px;
  width: 240px;
  height: 100px;
  margin-top: 10px;
  resize: vertical;
  border-radius: 5px;
  padding: 5px;
}

.write-box .write-post-button {
  font-size: 12px;
  color: rgba(47, 143, 67, 0.6);
  padding: 0 8px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid rgba(47, 143, 67, 0.5);
  display: inline-block;

  font-weight: bold;
  border-radius: 5px;
  transition: all 0.1s;
  text-align: center;
  background: white;
  height: 35px;
  line-height: 32px;
}

.write-box .write-post-button:hover {
  cursor: pointer;
  background-color: rgb(47, 143, 67);
  color: white;
}
